@import 'mixins';
@import 'variables';
@import 'typography';

.card {
    // @include shadow();
    // background-color: $light;
    border: none !important;
}

.alink {
    // color: $primary !important
    margin: 16px 0;

    &:hover {
        text-decoration: underline !important;
        cursor: pointer;
        opacity: 1;
    }
}

*.btn {
    &.rounded {
        border-radius: 40px !important;
    }

    &.btn-primary {
        background-color: $primary !important;
        color: #fff !important;
        border-color: $primary !important;

        &:hover {
            background-color: $primary-dark;
            color: #fff;
            border-color: $primary-dark;
        }
    }

    &.btn-outline-primary {
        color: $primary !important;
        border-color: $primary !important;
        background: none;

        &:hover {
            background-color: $primary !important;
            color: #fff !important;
            border-color: $primary !important;
        }
    }
}

.icon-btn {
    border: 1px solid $primary;
    color: $primary !important;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 40px;
    display: inline-block;
    text-align: center;

    &:hover {
        background-color: $primary;
        color: #fff !important;
    }
}

.top-nav {
    border-bottom: 1px solid #eee;
}

.page-header {
    padding: 16px;

    // @include shadow;
    .head-text {
        font-size: 24px;
        color: $dark;
        font-weight: 700;
    }
}

.navbar-nav {
    padding-left: 80px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 800;
}

.bg-light-warning {
    background-color: #fdf4d6;
}

.bg-primary {
    background-color: $primary !important;
}

.bg-gray {
    background-color: $gray !important;
}

.bg-info-light {
    background-color: #D4E6F1;
    // opacity: 0.1;
}

.dropdown-item {
    font-weight: 700;
    ;
}

.dash-item {
    border: 0.0625rem solid rgba(231, 234, 243, .7);
    background-color: #fff;
    border-radius: 0.75rem;
}

.tag {
    display: inline-block;
    border-radius: 80px;
    padding: 0 8px;
    font-weight: 700;
    font-size: 13px;
    ;

    &.tag-green {
        background-color: $green;
        color: #fff;
    }
}


.collapse-item {
    border-radius: 4px;
    @include shadow;
    padding: 16px;
    background-color: #fff;
    margin-bottom: 24px;

    h4 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    p {
        margin: 0;
        color: $light-text;
        size: 14px;
    }

    .price {
        font-size: 18px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
    }
}
.b-700{
    font-weight: 700;
}

.modal {

    .modal-dialog {
        border-radius: 0px !important;
        overflow: hidden;
        .modal-header,
        .modal-footer {
            border: none;
            border-radius: 0 !important;
            // background: linear-gradient(#c1e2f1, #f7e8f6);
            background: #39bdc8;
            color: #fff;
        }

        .modal-content {
            border: none;
            position: relative;
            padding: 0 !important;
            -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, .24);
            -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
            box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, .24);
            border-radius: 0 !important;
        }

        .modal-content button.close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            margin: 0;
            width: 60px;
            font-size: 30px;;
            height: 62px;
            font-weight: 100;
            z-index: 1;
            text-shadow: none;
            background: rgba(0, 0, 0, 0.08);
            // background: #E74C3C;
            color: #fff;
            opacity: 1;
        }

        .modal-content .modal-footer {
            border: none;
            background: #f8f8f8;
        }

    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    // display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    
}

/* Styling modal */
.modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 15%;
    // height: 100vh;
    margin: 0 auto;
}

.modal .modal-content {
    // padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
}

@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
  
@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}


.btn-group-lg>.btn, .btn-lg {
    padding: 0.45rem 0.8rem;
    font-size: 0.925rem;
    border-radius: 0.1rem;
}


.btn-success {
    // border-radius: 0.3125rem !important;
    background-color: #39bdc8;
    border-color: #39bdc8;
}


.btn{
    font-weight: 400;
}


    .form-control {
        display: block;
        width: 100%;
        padding: 0.6125rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #51596c;
        background-color: #fff;
        background-clip: padding-box;
        border: 0.0625rem solid rgba(0,34,28,.1);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.3125rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form-control {
        min-height: calc(1.5em + 1.625rem);
        padding: 0.45rem 0.6rem;
        font-size: 1rem;
        border-radius: 0.3125rem;
    }

    .form-control:focus {
        border-color: #39bdc8;
        box-shadow: inset 0 .3px .4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0,189,142, 0.3);
      }
      

      a[href]{
          text-decoration: none;
          color: inherit;
      }

      .bg-green{
          border: 1px solid #39bdc8;
      }



